@font-face {
  font-family: Orbitron; /* can choose any name to represent font */
  src: url("fonts/Orbitron-Regular.ttf");
}

body {
  margin: 0;
  color: #82a5ca;
  text-align: center;
  font-family: Orbitron;
}

#hero {
  /* background-image: url("images/universe.jpg");  */
  height: 500px;
  background-image: url("images/galaxy.gif");
  background-size: cover;
  padding: 10px 0 40px 0;
}

#title {
  text-shadow: 0px 0px 4px black;
}

.btn {
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: inherit;
  color: #82a5ca;
  font-weight: 800;
}

.underline {
  /* utility class for underline */
  border-bottom: 4px solid white;
}

#main-logo {
  width: 100px;
}
